<br>  <br>
<!-- registro -->
 <body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" width="72" height="72">
    <h2>Cuenta de Corretaje Bursátil</h2>
    <p class="lead">Gracias por elegirnos. Este es el comienzo de una próspera relacón de negocios</p>
  </div>
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Datos Personales</h4>
    <form class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Nombres</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Se requieren sus nombres como aparecen en la Cédula de Identidad
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Apellidos</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Se requieren sus Apellidos como aparecen en la Cédula de Identidad
          </div>
        </div>
      </div>          
      <div class="mb-3">
        <label for="email">Email <span class="text-muted"></span></label>
        <input type="email" class="form-control" id="email" placeholder="usted@invierte.com">
        <div class="invalid-feedback">
          Por favor ingrese su cuenta de correo, será nuestra principal forma de comunicación.
        </div>
      </div>  
      <div class="mb-3">
        <label for="address">Contraseña</label>
        <input type="password" class="form-control" id="password" required>
        <div class="invalid-feedback">
          Ingrese su contraseña
        </div>
      </div>
      <div class="mb-3">
        <label for="address">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="password" required>
        <div class="invalid-feedback">
          Confirme su contraseña
        </div>
      </div>    
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="experiencia">Experiencia en el Mercado de Valores</label>
          <select class="custom-select d-block w-100" id="experiencia" required>
            <option value="">...</option>
            <option>Profesional</option>
            <option>Conocedor</option>
            <option>Principiante</option>
          </select>
          <div class="invalid-feedback">
            Elija una opción
          </div>
        </div>
        <div class="col-md-5 mb-3">
            <label for="riesgo">Nivel de tolerancia al riesgo</label>
            <select class="custom-select d-block w-100" id="riesgo" required>
              <option value="">...</option>
              <option>Alto</option>
              <option>Medio</option>
              <option>Bajo</option>
            </select>
            <div class="invalid-feedback">
              Elija una opción
            </div>
          </div>            
      </div>
      <hr class="mb-4">
      <div class="contrato-control contrato-checkbox">
        <input type="checkbox" class="contrato-control-input" id="acepto">
        <label class="contrato-control-label" for="acepto"> He leído y acepto los términos y condiciones</label>
      </div>
      <div class="legitimacion-control legitimacion-checkbox">
        <input type="checkbox" class="legitimacion-control-input" id="legitimacion-checkbox">
        <label class="legitimacion-control-label" for="legitimacion-checkbox"> Declaro que los fondos a invertir son de origen lícito</label>
      </div>
      <hr class="mb-4">
    <div>
      <p><a class="btn btn-lg btn-primary" href="/cuenta" role="button">Abrir Cuenta</a></p>
      </div><br>

