<br>  <br> 
<section class="jumbotron text-center">
    <div class="container">
      <h1>Profesionales Creando la Venezuela del Futuro</h1>
      <p class="lead text-muted">Comprometidos con propósito de facilitar las transacciones financieras e impulsar el desarrollo económico Venezolano.</p>
    </div>
  </section>
    <!-- Three columns of text -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>CEO</h2>
            <p>Responsable del funcionamiento y Evolución de la Plataforma. Negocios Institucionales e Imagen Corporativa.</p>
            <p><a class="btn btn-secondary" href="/" role="button">Perfil &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Chief Financial Officer</h2>
        <p>Productos Financieros (un Director), Tesorería(dos traders), relación con clientes Profesionales. Profit Center.</p>
        <p><a class="btn btn-secondary" href="/" role="button">Perfil &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Chief Technology Officer</h2>
        <p>Mantenimiento, Seguridad y Desarrollo de la Plataforma. Optimización de la Experiencia e interfaz del Usuario. Dos programadores, un Director</p>
        <p><a class="btn btn-secondary" href="/" role="button">Perfil &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Chief Marketing Officer</h2>
            <p>Mercadeo, Promoción y Branding. Imágen Publicitaria. Estudios de Mercado. Redes Sociales. Relación con clientes. Un Profesional</p>
            <p><a class="btn btn-secondary" href="/" role="button">Perfil &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Chief Operating Officer</h2>
        <p>Liquidación de Transacciones Interbancarias. Contabilidad y Auditoría. Un equipo de tres personas.</p>
        <p><a class="btn btn-secondary" href="/" role="button">Perfil &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Talento Humano</h2>
        <p>Selección. Coaching. Incentivos. Esquema de trabajo remoto, un coach profesional. Equipo inicial tentativo 11 personas, sin incluir al Presidente</p>
        <p><a class="btn btn-secondary" href="/" role="button">Perfil &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Asesoría Legal</h2>
        <p>Licencias. Procedimientos. Contratos. En principio, Outsourced, luego un abogado y posiblemente un asistente.</p>
        <p><a class="btn btn-secondary" href="/" role="button">Perfil &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Oficial de Cumplimiento</h2>
        <p>Riesgo. Prevención de Legitimación de Capitales y Financiamiento al Terrorismo. Manual de Ética y Profesional</p>
        <p><a class="btn btn-secondary" href="/" role="button">Perfil &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
