<br><br><br>
<div class="container marketing">

      <!-- START THE FEATURETTES -->

   <div class="row featurette">
     <div class="col-md-7 order-md-2">
       <h2 class="featurette-heading">Nuestro propósito: <span class="text-muted">Ser Artífices del Milagro Económico Venezolano</span></h2>
       <p class="lead">Impulsamos Talentos, Apostamos por Venezuela y Creamos un Círculo Virtuoso de Ahorro, Inversión, Emprendimiento y Producción.</p>
     </div>
     <div class="col-md-5 order-md-1">
       <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

     </div>
   </div>
  
   <hr class="featurette-divider">

   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading">Visión: <span class="text-muted">Entramos en una nueva etapa Económica.</span></h2>
       <p class="lead">Transitamos un punto de Inflexión, los nuevos negocios de hoy serán las Corporaciones del Futuro. Ayudamos a desarrollar el Potencial de tus Proyectos.</p>
     </div>
     <div class="col-md-5">
       <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

     </div>
   </div>

   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading">Oportunidad   <span class="text-muted">Crea tu Porvenir</span></h2>
       <p class="lead">Que puedes hacer Hoy para contribuir al desarrollo de Venezuela? Ya tienes tu empresa? Necesitas Financiamiento, Asesoría? Quieres Invertir?</p>
     </div>
     <div class="col-md-5">
       <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

     </div>
   </div>

   <hr class="featurette-divider">

   <!-- /END THE FEATURETTES -->
</div>

    <!-- registro -->
    <body class="bg-light">
        <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" width="72" height="72">
        <h2>Cuenta de Corretaje Bursátil</h2>
        <p class="lead">Gracias por elegirnos. Este es el comienzo de una próspera relacón de negocios</p>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Datos Personales</h4>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombres</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requieren sus nombres como aparecen en la Cédula de Identidad
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Apellidos</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requieren sus Apellidos como aparecen en la Cédula de Identidad
              </div>
            </div>
          </div>          
          <div class="mb-3">
            <label for="email">Email <span class="text-muted"></span></label>
            <input type="email" class="form-control" id="email" placeholder="usted@invierte.com">
            <div class="invalid-feedback">
              Por favor ingrese su cuenta de correo, será nuestra principal forma de comunicación.
            </div>
          </div>  
          <div class="mb-3">
            <label for="address">Contraseña</label>
            <input type="password" class="form-control" id="password" required>
            <div class="invalid-feedback">
              Ingrese su contraseña
            </div>
          </div>
          <div class="mb-3">
            <label for="address">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="password" required>
            <div class="invalid-feedback">
              Confirme su contraseña
            </div>
          </div>    
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="experiencia">Experiencia en el Mercado de Valores</label>
              <select class="custom-select d-block w-100" id="experiencia" required>
                <option value="">...</option>
                <option>Profesional</option>
                <option>Conocedor</option>
                <option>Principiante</option>
              </select>
              <div class="invalid-feedback">
                Elija una opción
              </div>
            </div>
            <div class="col-md-5 mb-3">
                <label for="riesgo">Nivel de tolerancia al riesgo</label>
                <select class="custom-select d-block w-100" id="riesgo" required>
                  <option value="">...</option>
                  <option>Alto</option>
                  <option>Medio</option>
                  <option>Bajo</option>
                </select>
                <div class="invalid-feedback">
                  Elija una opción
                </div>
              </div>            
          </div>
          <hr class="mb-4">
          <div class="contrato-control contrato-checkbox">
            <input type="checkbox" class="contrato-control-input" id="acepto">
            <label class="contrato-control-label" for="acepto"> He leído y acepto los términos y condiciones</label>
          </div>
          <div class="legitimacion-control legitimacion-checkbox">
            <input type="checkbox" class="legitimacion-control-input" id="legitimacion-checkbox">
            <label class="legitimacion-control-label" for="legitimacion-checkbox"> Declaro que los fondos a invertir son de origen lícito</label>
          </div>
          <hr class="mb-4">
        <div>
          <p><a class="btn btn-lg btn-primary" href="/cuenta" role="button">Abrir Cuenta</a></p>
          </div><br>

